button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 16px;
}

.button--white {
    color: white;
    border: 2px solid var(--white);
}

.button--white:hover {
    background-color: var(--white);
    color: var(--black);
}

.button--blue {
    color: var(--blue);
    border: 2px solid var(--blue);
}

.button--blue:hover {
    background-color: var(--blue);
    color: var(--black);
}

.button--lightblue {
    color: var(--lightblue);
    border: 2px solid var(--lightblue);
}

.button--lightblue:hover {
    background-color: var(--lightblue);
    color: var(--lightblack);
}